@import "../variavless.scss";

.inicio {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  cursor: pointer;
  background-color: $fundo;

  .menu-principal {
    display: flex;
    flex-direction: column;
    background-color: $menu;
    color: $txtoDoMenu;
    padding: 1px;
    border-radius: 10px;
    width: 200px;
    height: 100vh;
    border: 3px groove rgb(214, 182, 182);
  }

  .area-trabalho {
    margin: 2px;
    background-color: $areaDeTrabalho;
    color: $txtoDoMenu;
    width: calc(100% - 200px);
    height: 100vh;
    border-radius: 10px;
  }
}

