<div class="opcoes">
  <div class="titulo">
    <h1>{{titulo}}</h1>
  </div>

  <div class="selecao">
    <div class="btns">
      <button id="incluir"   (click)="incluir()"  ><i></i>
        Incluir
      </button>
      <button id="imprimir"  (click)="imprimir()" >Imprimir</button>
      <button id="exportar"  (click)="exportar()" >Exportar</button>
      <button id="atualizar" (click)="atualizar()">Atualizar</button>
      <button id="voltar"    (click)="voltar()"   >Voltar</button>
    </div>
    <div class="pesquisar">
      <input type="text" value="Pesquisa">
    </div>
  </div>
</div>
