$cor-fundo-principal: #a0afe9; /* Cor de fundo principal */
$cor-texto-principal: #ebe2e2; /* Cor do texto principal */
$cor-destaque: #ffcc00; /* Cor de destaque */
$cor-link: #00f; /* Cor de links */
$cor-link-hover: #0f0; /* Cor de links ao passar o mouse */
$cor-botao: #ffcc00; /* Cor dos botões */
$cor-botao-hover: #ff9900; /* Cor dos botões ao passar o mouse */
$cor-botao-texto: #000; /* Cor do texto nos botões */
$cor-barra-navegacao: #333; /* Cor da barra de navegação */
$cor-barra-lateral: #292929; /* Cor da barra lateral */
$cor-menu: #1e98df; /* Cor do menu */
$cor-menu-hover: #3e3e3e; /* Cor do menu @import '../../../variavless.scss';ao passar o mouse */
$cor-area-trabalho: #45635e; /* Cor da área de trabalho */
$cor-area-trabalho-hover: #3e3e3e; /* Cor da área de trabalho ao passar o mouse */
$cor-mensagem: #ffcc00; /* Cor das mensagens */
$cor-mensagem-hover: #ff9900; /* Cor das mensagens ao passar o mouse */
$cor-borda-lateral: #ffcc00; /* Cor da borda lateral */
$primary-color: #333; /* Cor de fundo principal */
$secondary-color: #fff; /* Cor do texto principal */
$accent-color: #ffcc00; /* Cor de destaque */
$link-color: #00f; /* Cor de links */
$link-hover-color: #0f0; /* Cor de links ao passar o mouse */
$button-color: #ffcc00; /* Cor dos botões */
$button-hover-color: #ff9900; /* Cor dos botões ao passar o mouse */
$button-text-color: #000; /* Cor do texto nos botões */

$menu: #3e3e3e;
$areaDeTrabalho: #333;
$textoDoMenu: #ebe2e2;
$fundo: #292929;
$borda: rgb(214, 182, 182);
$fundo-barra: #a0afe9;
